{% extends "form_dx.html" %}

{% block content %}

    {% if valid == 0 %}
        <h2 style="color: greenyellow">RPC Updated!</h2>
        <h6 style="color: gray">Currently set to:
            {% for key,value in result.items() %}
                {% if key == "song" %}
                        {{ value }}
                    {% endif %}
            {% endfor %}
        </h6>
    {% endif %}

    {% if valid == 1 %}
        <h2 style="color: red">Error! Invalid song name.</h2>
    {% endif %}
    {% if valid == 2 %}
        <h2 style="color: red">Error! Song does not have a deluxe edition.</h2>
    {% endif %}

{% endblock %}